.TeacherInfo {
  margin: 15px 15px 15px 0;
  padding-top: 30px;
  width: calc(100vw - 250px);
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
}

.TeacherInfo-title {
  font-size: 24px;
  color: #202124;
  margin-left: 40px;
  border-bottom: 4px solid #0284ff;
}

.TeacherInfo-content {
  padding-top: 80px;
  padding-right: 20px;
}

.TeacherInfo-text{
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.TeacherInfo-item {
  width: 400px;
  height: 40px;
  margin: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.TeacherInfo-key {
  width: 80px;
  color: #5f6368;
  margin-right: 75px;
  text-align: right;
}

.TeacherInfo-value {
  width: 200px;
  text-align: left;
}

.TeacherInfo-courses {
  align-self: flex-start;
  width: 200px;
  text-align: left;
}

.TeacherInfo-course {
  margin-top: 15px;
}
