.FaceInfo {
  margin: 15px 15px 15px 0;
  padding-top: 30px;
  width: calc(100vw - 250px);
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
}

.FaceInfo-title {
  font-size: 24px;
  color: #202124;
  margin-left: 40px;
  border-bottom: 4px solid #0284ff;
}

.FaceInfo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-right: 20px;
}

.FaceInfo-img {
  overflow: hidden;
  position: relative;
}

.FaceInfo-mask {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FaceInfo-hoverTip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.Face-tip {
  margin-top: 25px;
}

.FaceInfo-text{
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.Faceinfo-item {
  width: 400px;
  height: 40px;
  margin: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.FaceInfo-key {
  color: #5f6368;
  margin-right: 75px;
}

.FaceInfo-eidt {
  width: 250px;
  margin-top: 15px;
}