.RollCall {
  display: flex;
  flex-direction: column;
  margin: 15px 15px 15px 0;
  padding-top: 30px;
  width: calc(100vw - 250px);
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
}

.RollCall-title{
  width: 145px;
  font-size: 24px;
  color: #202124;
  border-bottom: 4px solid #0284ff;
  margin-left: 40px;
}

.RollCall-subtitle{
  color: #5f6368;
  margin: 15px 0 0 40px;
  font-size: 14px;
}

.RollCall-select {
  margin: 30px auto;
}

.RollCall-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.RollCall-video {
  width: 480px;
  height: 320px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  border: 1px solid #EBEBEB;
  margin: 10px;
}

.RollCall-canvas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 2px;
}

.RollCall-button {
  margin: 30px auto;
  width: 40%;
}

.RollCall-picture {
  height: 0;
}

.RollCall-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.RollCall-formName {
  font-weight: 400;
  font-size: 14px;
  color: #999;
  margin-right: 15px;
}

.RollCall-formInput {
  padding: 0;
  overflow: hidden;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: transparent;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  width: 200px;
  height: 25px;
  resize: none;
  padding: 5px;
}

.RollCall-formInput::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}
