.RollCallInfo {
  margin: 15px 15px 15px 0;
  padding-top: 30px;
  width: calc(100vw - 250px);
  min-height: 100vh;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
}

.RollCallInfo-title {
  font-size: 24px;
  color: #202124;
  margin-left: 40px;
  border-bottom: 4px solid #0284ff;
}

.RollCallInfo-select{
  margin-right: 40px;
}

.RollCallInfo-Table-header {
  margin: 40px;
  display: flex;
  align-items: center;
}

.RollCallInfo-Table-header .react-datepicker-wrapper input {
  cursor: pointer;
  border: #d9d9d9 1px solid;
  border-radius: 5px;
  width: 200px;
  height: 24px;
  padding-left: 10px;
}

.RollCallInfo-Table-header .react-datepicker-wrapper input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}

.RollCallInfo-Table-header .react-datepicker-wrapper input:hover {
  border: #0284ff 1px solid;
  box-shadow: 0 0 2px rgba(2, 132, 255, 0.8);
}

.RollCallInfo-Class-input {
  box-sizing: border-box;
  border: #d9d9d9 1px solid;
  border-radius: 5px;
  height: 28px;
  padding-left: 10px;
  margin-left: 40px;
}

.RollCallInfo-Class-input:hover {
  border: #0284ff 1px solid;
  box-shadow: 0 0 2px rgba(2, 132, 255, 0.8);
}

.RollCallInfo-Class-input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}

.RollCallInfo-button {
  border-radius: 6px;
  margin-left: 40px;
}

.RollCallInfo-table {
  margin: 40px;
}